<!--

=========================================================
* Now UI Dashboard - v1.5.0
=========================================================

* Product Page: https://www.creative-tim.com/product/now-ui-dashboard
* Copyright 2019 Creative Tim (http://www.creative-tim.com)

* Designed by www.invisionapp.com Coded by www.creative-tim.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8"/>
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>Manage Rents</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport'/>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!--Data Tables css-->
  <!--  <link rel="stylesheet" type="text/css"-->
  <!--        href="https://cdn.datatables.net/v/bs4/dt-1.10.20/af-2.3.4/b-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.css"/>-->
  <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.20/af-2.3.4/b-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.css"/>
  <!--  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />-->
  <link href="../assets/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet"/>
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet"/>
</head>

<body class="">
<div class="wrapper ">
  <div class="sidebar" data-color="orange">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text logo-mini">
        CT
      </a>
      <a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Creative Tim
      </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
      <ul class="nav">
        <li>
          <a th:href="@{/index}">
            <i class="now-ui-icons education_atom"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a th:href="@{/products}">
            <i class="now-ui-icons design_app"></i>
            <p>Products</p>
          </a>
        </li>
        <li>
          <a href="./map.html">
            <i class="now-ui-icons location_map-big"></i>
            <p>Maps</p>
          </a>
        </li>
        <li>
          <a href="./notifications.html">
            <i class="now-ui-icons ui-1_bell-53"></i>
            <p>Notifications</p>
          </a>
        </li>
        <li>
          <a th:href="@{/customers}">
            <i class="now-ui-icons users_single-02"></i>
            <p>Customers</p>
          </a>
        </li>
        <li class="active ">
          <a th:href="@{/rents}">
            <i class="now-ui-icons design_bullet-list-67"></i>
            <p>Rents</p>
          </a>
        </li>
        <li>
          <a href="./typography.html">
            <i class="now-ui-icons text_caps-small"></i>
            <p>Typography</p>
          </a>
        </li>
        <!--          <li class="active-pro">-->
        <!--            <a href="./upgrade.html">-->
        <!--              <i class="now-ui-icons arrows-1_cloud-download-93"></i>-->
        <!--              <p>Upgrade to PRO</p>-->
        <!--            </a>-->
        <!--          </li>-->
      </ul>
    </div>
  </div>
  <div class="main-panel" id="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <a class="navbar-brand" href="#pablo">Table List</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <form>
            <div class="input-group no-border">
              <input type="text" value="" class="form-control" placeholder="Search...">
              <div class="input-group-append">
                <div class="input-group-text">
                  <i class="now-ui-icons ui-1_zoom-bold"></i>
                </div>
              </div>
            </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#pablo">
                <i class="now-ui-icons media-2_sound-wave"></i>
                <p>
                  <span class="d-lg-none d-md-block">Stats</span>
                </p>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                <i class="now-ui-icons location_world"></i>
                <p>
                  <span class="d-lg-none d-md-block">Some Actions</span>
                </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#pablo">
                <i class="now-ui-icons users_single-02"></i>
                <p>
                  <span class="d-lg-none d-md-block">Account</span>
                </p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="panel-header panel-header-sm">
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">List of Rents</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <button type="button" id="addRentButton" class="btn btn-primary" data-toggle="modal"
                        data-target="#addRent">
                  New Rent
                </button>
                <table id="rentsTable" class="table table-hover table-striped">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Customer Id</th>
                    <th>Product Id</th>
                    <th>Rent From</th>
                    <th>Rent Till</th>
                    <th>Location</th>
                    <th>Actions</th>
                  </tr>
                  </thead>

                  <tbody>
                  <tr th:each="rent: ${rents}">
                    <td><span th:text="${rent.rentId}"></span></td>
                    <td><span th:text="${rent.customerId}"></span></td>
                    <!--                      <td><a th:href="@{/customer/{id}(id=${rent.customerId})}"></a><span th:text="${rent.firstName}"></span></td>-->

                    <td><span th:text="${rent.productId}"></span></td>
                    <td><span th:text="${rent.rentFrom}"></span></td>
                    <td><span th:text="${rent.rentTill}"></span></td>
                    <td><span th:text="${rent.rentLocation}"></span></td>
                    <td>
                      <div class="btn-group">
                        <a th:href="@{/rent/{id}(id=${rent.rentId})}" class="btn btn-primary" id="editButton"
                           data-toggle="tooltip" title="Edit"><i class="icon_pencil-edit"></i></a>
                        <a th:href="@{/customer/{id}(id=${rent.customerId})}" class="btn btn-success"
                           id="customerDetailsButton"
                           data-toggle="tooltip" title="Customer Details"><i class="icon_document_alt"></i></a>
                        <a th:href="@{/product/{id}(id=${rent.productId})}" class="btn btn-info"
                           id="productDetailsButton"
                           data-toggle="tooltip" title="Product Details"><i class="icon_document_alt"></i></a>
                        <a th:href="@{/rents/delete/{id}(id=${rent.rentId})}" class="btn btn-danger" id="deleteButton"
                           data-toggle="tooltip" title="Delete"><i
                          class="icon_close_alt2"></i></a>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!--          <div class="col-md-12">-->
        <!--            <div class="card card-plain">-->
        <!--              <div class="card-header">-->
        <!--                <h4 class="card-title"> Table on Plain Background</h4>-->
        <!--                <p class="category"> Here is a subtitle for this table</p>-->
        <!--              </div>-->
        <!--              <div class="card-body">-->
        <!--                <div class="table-responsive">-->
        <!--                  <table class="table">-->
        <!--                    <thead class=" text-primary">-->
        <!--                      <th>-->
        <!--                        Name-->
        <!--                      </th>-->
        <!--                      <th>-->
        <!--                        Country-->
        <!--                      </th>-->
        <!--                      <th>-->
        <!--                        City-->
        <!--                      </th>-->
        <!--                      <th class="text-right">-->
        <!--                        Salary-->
        <!--                      </th>-->
        <!--                    </thead>-->
        <!--                    <tbody>-->
        <!--                      <tr>-->
        <!--                        <td>-->
        <!--                          Dakota Rice-->
        <!--                        </td>-->
        <!--                        <td>-->
        <!--                          Niger-->
        <!--                        </td>-->
        <!--                        <td>-->
        <!--                          Oud-Turnhout-->
        <!--                        </td>-->
        <!--                        <td class="text-right">-->
        <!--                          $36,738-->
        <!--                        </td>-->
        <!--                      </tr>-->
        <!--                      <tr>-->
        <!--                        <td>-->
        <!--                          Minerva Hooper-->
        <!--                        </td>-->
        <!--                        <td>-->
        <!--                          Curaçao-->
        <!--                        </td>-->
        <!--                        <td>-->
        <!--                          Sinaai-Waas-->
        <!--                        </td>-->
        <!--                        <td class="text-right">-->
        <!--                          $23,789-->
        <!--                        </td>-->
        <!--                      </tr>-->
        <!--                      <tr>-->
        <!--                        <td>-->
        <!--                          Sage Rodriguez-->
        <!--                        </td>-->
        <!--                        <td>-->
        <!--                          Netherlands-->
        <!--                        </td>-->
        <!--                        <td>-->
        <!--                          Baileux-->
        <!--                        </td>-->
        <!--                        <td class="text-right">-->
        <!--                          $56,142-->
        <!--                        </td>-->
        <!--                      </tr>-->
        <!--                      <tr>-->
        <!--                        <td>-->
        <!--                          Philip Chaney-->
        <!--                        </td>-->
        <!--                        <td>-->
        <!--                          Korea, South-->
        <!--                        </td>-->
        <!--                        <td>-->
        <!--                          Overland Park-->
        <!--                        </td>-->
        <!--                        <td class="text-right">-->
        <!--                          $38,735-->
        <!--                        </td>-->
        <!--                      </tr>-->
        <!--                      <tr>-->
        <!--                        <td>-->
        <!--                          Doris Greene-->
        <!--                        </td>-->
        <!--                        <td>-->
        <!--                          Malawi-->
        <!--                        </td>-->
        <!--                        <td>-->
        <!--                          Feldkirchen in Kärnten-->
        <!--                        </td>-->
        <!--                        <td class="text-right">-->
        <!--                          $63,542-->
        <!--                        </td>-->
        <!--                      </tr>-->
        <!--                      <tr>-->
        <!--                        <td>-->
        <!--                          Mason Porter-->
        <!--                        </td>-->
        <!--                        <td>-->
        <!--                          Chile-->
        <!--                        </td>-->
        <!--                        <td>-->
        <!--                          Gloucester-->
        <!--                        </td>-->
        <!--                        <td class="text-right">-->
        <!--                          $78,615-->
        <!--                        </td>-->
        <!--                      </tr>-->
        <!--                      <tr>-->
        <!--                        <td>-->
        <!--                          Jon Porter-->
        <!--                        </td>-->
        <!--                        <td>-->
        <!--                          Portugal-->
        <!--                        </td>-->
        <!--                        <td>-->
        <!--                          Gloucester-->
        <!--                        </td>-->
        <!--                        <td class="text-right">-->
        <!--                          $98,615-->
        <!--                        </td>-->
        <!--                      </tr>-->
        <!--                    </tbody>-->
        <!--                  </table>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
      </div>
    </div>
    <footer class="footer">
      <div class=" container-fluid ">
        <nav>
          <ul>
            <li>
              <a href="https://www.creative-tim.com">
                Creative Tim
              </a>
            </li>
            <li>
              <a href="http://presentation.creative-tim.com">
                About Us
              </a>
            </li>
            <li>
              <a href="http://blog.creative-tim.com">
                Blog
              </a>
            </li>
          </ul>
        </nav>
        <div class="copyright" id="copyright">
          &copy;
          <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))


          </script>
          , Designed by <a href="https://www.invisionapp.com" target="_blank">Invision</a>. Coded by <a
          href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
        </div>
      </div>
    </footer>
  </div>
</div>

<!--  Model Section starts-->
<div class="modal fade" id="addRent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCustomerModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form th:action="@{/rents/addNew}" method="post">
          <div class="form-group">
            <label class="col-form-Label">Customer: </label>
            <select class="form-control" name="customerId">
              <option>-SELECT-</option>
              <option th:each="customer: ${customers}" th:value="${customer.customerId}"
                      th:text="${customer.firstName} + '&nbsp' + ${customer.lastName}"></option>
            </select>
          </div>

          <div class="form-group">
            <label class="col-form-Label">Product: </label>
            <select class="form-control" name="productId">
              <option>-SELECT-</option>
              <option th:each="product: ${products}" th:value="${product.productId}"
                      th:text="${product.make} + '&nbsp' + ${product.model}"></option>
            </select>
          </div>

          <div class="form-group">
            <label class="col-form-label">Rent From:</label>
            <input type="text" class="form-control" name="rentFrom">
          </div>

          <div class="form-group">
            <label class="col-form-label">Rent Till:</label>
            <input type="text" class="form-control" name="rentTill">
          </div>

          <div class="form-group">
            <label class="col-form-label">Rent Location:</label>
            <input type="text" class="form-control" name="rentLocation">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editRent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCustomerModalLabel">Edit Rent</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form th:action="@{/rents/update}" method="put">
          <div class="form-group">
            <label for="idEdit" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="rentIdEdit" name="rentId" readonly>
          </div>

          <div class="form-group">
            <label class="col-form-Label">Customer: </label>
            <select class="form-control" id="customerIdEdit" name="customerId">
              <option>-SELECT-</option>
              <option th:each="customer: ${customers}" th:value="${customer.id}"
                      th:text="${customer.firstName} + '&nbsp' + ${customer.lastName}"></option>
            </select>
          </div>

          <div class="form-group">
            <label class="col-form-Label">Product: </label>
            <select class="form-control" id="productIdEdit" name="productId">
              <option>-SELECT-</option>
              <option th:each="product: ${products}" th:value="${product.id}"
                      th:text="${product.make} + '&nbsp' + ${product.model}"></option>
            </select>
          </div>

          <div class="form-group">
            <label class="col-form-label">Rent From:</label>
            <input type="text" class="form-control" id="rentFromEdit" name="rentFrom">
          </div>

          <div class="form-group">
            <label class="col-form-label">Rent Till:</label>
            <input type="text" class="form-control" id="rentTillEdit" name="rentTill">
          </div>

          <div class="form-group">
            <label class="col-form-label">Rent Location:</label>
            <input type="text" class="form-control" id="rentLocationEdit" name="rentLocation">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="customerDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Customer Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="idEdit" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="idEdit" name="id" readonly>
          </div>
          <div class="form-group">
            <label for="firstNameEdit" class="col-form-label">First Name:</label>
            <input type="text" class="form-control" id="firstNameEdit" name="firstName" readonly>
          </div>
          <div class="form-group">
            <label for="lastNameEdit" class="col-form-label">Last Name:</label>
            <input type="text" class="form-control" id="lastNameEdit" name="lastName" readonly>
          </div>
          <div class="form-group">
            <label for="idNumberEdit" class="col-form-label">ID Number:</label>
            <input type="text" class="form-control" id="idNumberEdit" name="idNumber" readonly>
          </div>
          <div class="form-group">
            <label for="dateOfBirthEdit" class="col-form-label">Date of Birth:</label>
            <input type="text" class="form-control" id="dateOfBirthEdit" name="dateOfBirth" readonly>
          </div>
          <div class="form-group">
            <label for="addressEdit" class="col-form-label">Address:</label>
            <input type="text" class="form-control" id="addressEdit" name="address" readonly>
          </div>
          <div class="form-group">
            <label for="phoneNumberEdit" class="col-form-label">Phone No::</label>
            <input type="text" class="form-control" id="phoneNumberEdit" name="phoneNumber" readonly>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="productDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Product Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="idEdit" class="col-form-label">Id:</label>
            <input type="text" class="form-control" id="productId" name="id" readonly>
          </div>
          <div class="form-group">
            <label for="makeEdit" class="col-form-label">Make:</label>
            <input type="text" class="form-control" id="makeEdit" name="make" readonly>
          </div>
          <div class="form-group">
            <label for="modelEdit" class="col-form-label">Model:</label>
            <input type="text" class="form-control" id="modelEdit" name="model" readonly>
          </div>
          <div class="form-group">
            <label for="typeEdit" class="col-form-label">Type:</label>
            <input type="text" class="form-control" id="typeEdit" name="type" readonly>
          </div>
          <div class="form-group">
            <label for="categoryEdit" class="col-form-label">Category:</label>
            <input type="text" class="form-control" id="categoryEdit" name="category" readonly>
          </div>
          <div class="form-group">
            <label for="yearEdit" class="col-form-label">Year:</label>
            <input type="text" class="form-control" id="yearEdit" name="year" readonly>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="deleteRent" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>Are you sure you want to delete this record?</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" id="confirmDeleteButton" href="">Yes, Delete</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!--  Modal Section ends-->
<!--   Core JS Files   -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<!--<script type="text/javascript"-->
<!--        src="https://cdn.datatables.net/v/bs4/dt-1.10.20/af-2.3.4/b-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>-->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4/dt-1.10.20/af-2.3.4/b-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>

<!--  <script src="../assets/js/core/jquery.min.js"></script>-->
<!--  <script src="../assets/js/core/popper.min.js"></script>-->
<!--  <script src="../assets/js/core/bootstrap.min.js"></script>-->
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="../assets/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="../assets/demo/demo.js"></script>
<!--Custom Js-->
<script src="../assets/js/custom/rents.js"></script>
</body>

</html>